/*General Setup Style*/
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.mainBody{
  /*background-color: #50c878;*/
  /*background-color: #ad9cff;*/
  /*background-color: red;*/
}

/*NavBar Style*/
/*
.navbar-light .navbar-nav .nav-item .navClassThing{
  color: white;
}

Link:hover{
  color: white;
}
*/
.navbar{
  background-color: black;
  text-decoration: none;
}

.navStyle{
  background-color: black;
  margin-top: 0.5%;
  text-decoration: none;
  margin-left: 1%;
}

.navMainButton{
  background-color: black;
  color: white;
  width: 100%;
  text-decoration: none;
}

.navMainButtonText{
  font-size: 150%;
  font-weight: bold;
}

.navLinks{
  float: right;
  width: 40%;
}

.navGButton{
  float: right;
  width: 13%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 0%;
  text-align:center;
  border-radius: 0%;
  background-color: black;
  border: none;
  outline: none;
  font-weight: bold;
  color:white;
}

.navLButton{
  float: right;
  width: 16.5%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 0%;
  text-align:center;
  border-radius: 0%;
  background-color: black;
  border: none;
  outline: none;
  font-weight: bold;
  color:white;
}


/*Home Styles*/
.titleBlock{
  background-image: url("images/AsiaEx.jpg");
}

.homeTitleText{
  color: white;
  font-size: 400%;
  font-weight: 1000;
  margin-top: 16.2%;
}

.homeInspirText{
  color: white;
  font-size:220%;
  font-weight: 700;
  margin-bottom: 16.2%;
}

.img-right{
  float:right !important;
}

.img-left{
  float:left !important;
}

.pad-title{
  padding-top: 4%;
  padding-bottom: 6.5%;
}

.pad-init{
  padding-bottom: 6.5%;
}

.subHomeText{
  color: black;
  font-size:250%;
  font-weight: 700;
}

.desHomeText{
  color: black;
  font-size: 175%;
  font-weight: 600;
}

.homeRight{
  text-align: right;
}



/*Music Styles*/
.musPageImg{
  background-image: url("images/AmericaEx.jpg");
}

.contentTitleText{
  color: black;
  font-size:220%;
  font-weight: 700;
  padding-top: 16.2%;
  padding-bottom: 16.2%;
  text-align: center;
}

.contText1{
  color: white;
  font-size: 175%;
  font-weight: 1000;
}

.contText2{
  color: white;
  font-size:100%;
  font-weight: 700;
  margin-bottom: 16.2%;
}

.exTitle{
  padding-top: 2%;
  text-align: center;
  margin-bottom: 4%;
  color: black;
}

.exTitleText{
  font-size: 300%;
  font-weight: 1000;
}

.exClass{
  text-align: center;
  margin-bottom: 2%;
  color: black;
}

.exClassText{
  font-size:250%;
  font-weight: 700;
}

.b1{
  /*background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/Statue_of_Liberty_7.jpg/640px-Statue_of_Liberty_7.jpg);*/
  width: 33.333333333333333%;
  padding-top: 9.5%;
  padding-bottom: 9.5%;
  border-radius: 0%;
  background-image: url("images/AmericaEx.jpg");
  font-size: 200%;
  color:white;
  border: none;
  outline: none;
}

.b2{
  /*background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Neuschwanstein_Castle_LOC_print_rotated.jpg/640px-Neuschwanstein_Castle_LOC_print_rotated.jpg);*/
  width: 33.333333333333333%;
  padding-top: 9.5%;
  padding-bottom: 9.5%;
  border-radius: 0%;
  background-image: url("images/EuropeEx.jpg");
  font-size: 200%;
  color:white;
  border: none;
  outline: none;
}

.b3{
  /*background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/Shanghai_-_Yu_Garden_-_0035.jpg/640px-Shanghai_-_Yu_Garden_-_0035.jpg);*/
  width: 33.333333333333333%;
  padding-top: 9.5%;
  padding-bottom: 9.5%;
  border-radius: 0%;
  background-image: url("images/AsiaEx.jpg");
  font-size: 200%;
  color:white;
  border: none;
  outline: none;
}

.b4{
  /*background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Hundred_Islands_Christ_the_Redeemer_Statue.jpg/640px-Hundred_Islands_Christ_the_Redeemer_Statue.jpg);*/
  width: 33.333333333333333%;
  padding-top: 9.5%;
  padding-bottom: 9.5%;
  border-radius: 0%;
  background-image: url("images/SouthAmericaEx.jpg");
  font-size: 200%;
  color:white;
  border: none;
  outline: none;
}

.b5{
  /*background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/The_Great_Mosque_of_Djenn%C3%A9_in_Mali_is_the_largest_mud_brick_building_in_the_world._%2832931594225%29.jpg/640px-The_Great_Mosque_of_Djenn%C3%A9_in_Mali_is_the_largest_mud_brick_building_in_the_world._%2832931594225%29.jpg);*/
  width: 33.333333333333333%;
  padding-top: 9.5%;
  padding-bottom: 9.5%;
  border-radius: 0%;
  background-image: url("images/AfricaEx.jpg");
  font-size: 200%;
  color:white;
  border: none;
  outline: none;
}

.b6{
  /*background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/Sydney_Opera_House_-_Dec_2008.jpg/640px-Sydney_Opera_House_-_Dec_2008.jpg);*/
  width: 33.333333333333333%;
  padding-top: 9.5%;
  padding-bottom: 9.5%;
  border-radius: 0%;
  background-image: url("images/AustraliaEx.jpg");
  font-size: 200%;
  color:white;
  border: none;
  outline: none;
}



/*Cuisines*/
.cusPageImg{
  background-image: url("images/AmericaEx.jpg");
}

.cusTitleText{
  color: black;
  font-size: 400%;
  font-weight: 1000;
  margin-top: 5%;
  margin-bottom: 7%;
}

.cusSubText{
  margin-top: 8%;
  margin-left: 2%;
  color: black;
  font-size:250%;
  font-weight: 700;
}

.cusDesText{
  color: black;
  font-size: 175%;
  font-weight: 600;
  margin-left: 2%;
}

.c1{
  width: 33.333333333333333%;
  padding-top: 9.5%;
  padding-bottom: 9.5%;
  border-radius: 0%;
  font-size: 200%;
  color:white;
  border: none;
  outline: none;
  /*background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Poutine_%2814170289748%29.jpg/640px-Poutine_%2814170289748%29.jpg);*/
  background-image: url("images/AmericaCus.jpg");
}

.c2{
  width: 33.333333333333333%;
  padding-top: 9.5%;
  padding-bottom: 9.5%;
  border-radius: 0%;
  font-size: 200%;
  color:white;
  border: none;
  outline: none;
  /*background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Paella-mixta.jpg/640px-Paella-mixta.jpg);*/
  background-image: url("images/EuropeCusjpg.jpg");
}

.c3{
  width: 33.333333333333333%;
  padding-top: 9.5%;
  padding-bottom: 9.5%;
  border-radius: 0%;
  font-size: 200%;
  color:white;
  border: none;
  outline: none;
  /*background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Flickr_preppybyday_4665999863--General_Tso%27s_Chicken_%28cropped%29.jpg/640px-Flickr_preppybyday_4665999863--General_Tso%27s_Chicken_%28cropped%29.jpg);*/
  background-image: url("images/AsiaCus.jpg");
}

.c4{
  width: 33.333333333333333%;
  padding-top: 9.5%;
  padding-bottom: 9.5%;
  border-radius: 0%;
  font-size: 200%;
  color:white;
  border: none;
  outline: none;
  /*background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Arepas_with_chicken_schnitzel%2C_avocado%2C_mayonnaise_and_red_onion.jpg/640px-Arepas_with_chicken_schnitzel%2C_avocado%2C_mayonnaise_and_red_onion.jpg);*/
  background-image: url("images/SouthAmericaCus.jpg");
}

.c5{
  width: 33.333333333333333%;
  padding-top: 9.5%;
  padding-bottom: 9.5%;
  border-radius: 0%;
  font-size: 200%;
  color:white;
  border: none;
  outline: none;
  /*background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Durban_Bunny_Chow.jpg/640px-Durban_Bunny_Chow.jpg);*/
  background-image: url("images/AfricaCus.jpg");
}

.c6{
  width: 33.333333333333333%;
  padding-top: 9.5%;
  padding-bottom: 9.5%;
  border-radius: 0%;
  font-size: 200%;
  color:white;
  border: none;
  outline: none;
  /*background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/2019-08-17_21_44_43_%22Tour_of_Italy%22_%28Lasagna_Classico%2C_Fettuccine_Alfredo%2C_and_Eggplant_Parmigiana_%28substituted_for_the_usual_Chicken_Parmigiana%29%29_at_the_Olive_Garden_in_Fair_Lakes%2C_Fairfax_County%2C_Virginia.jpg/640px-thumbnail.jpg);*/
  background-image: url("images/AustraliaCus.jpg");
}


/*Clothes*/
.cloPageImg{
  background-image: url("images/AmericaEx.jpg");
}

.l1{
  width: 33.333333333333333%;
  padding-top: 9.5%;
  padding-bottom: 9.5%;
  border-radius: 0%;
  font-size: 200%;
  color:white;
  border: none;
  outline: none;
  /*background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Poutine_%2814170289748%29.jpg/640px-Poutine_%2814170289748%29.jpg);*/
  background-image: url("images/AmericaCus.jpg");
}

.l2{
  width: 33.333333333333333%;
  padding-top: 9.5%;
  padding-bottom: 9.5%;
  border-radius: 0%;
  font-size: 200%;
  color:white;
  border: none;
  outline: none;
  /*background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Paella-mixta.jpg/640px-Paella-mixta.jpg);*/
  background-image: url("images/EuropeCusjpg.jpg");
}

.l3{
  width: 33.333333333333333%;
  padding-top: 9.5%;
  padding-bottom: 9.5%;
  border-radius: 0%;
  font-size: 200%;
  color:white;
  border: none;
  outline: none;
  /*background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Flickr_preppybyday_4665999863--General_Tso%27s_Chicken_%28cropped%29.jpg/640px-Flickr_preppybyday_4665999863--General_Tso%27s_Chicken_%28cropped%29.jpg);*/
  background-image: url("images/AsiaCus.jpg");
}

.l4{
  width: 33.333333333333333%;
  padding-top: 9.5%;
  padding-bottom: 9.5%;
  border-radius: 0%;
  font-size: 200%;
  color:white;
  border: none;
  outline: none;
  /*background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Arepas_with_chicken_schnitzel%2C_avocado%2C_mayonnaise_and_red_onion.jpg/640px-Arepas_with_chicken_schnitzel%2C_avocado%2C_mayonnaise_and_red_onion.jpg);*/
  background-image: url("images/SouthAmericaCus.jpg");
}

.l5{
  width: 33.333333333333333%;
  padding-top: 9.5%;
  padding-bottom: 9.5%;
  border-radius: 0%;
  font-size: 200%;
  color:white;
  border: none;
  outline: none;
  /*background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Durban_Bunny_Chow.jpg/640px-Durban_Bunny_Chow.jpg);*/
  background-image: url("images/AfricaCus.jpg");
}

.l6{
  width: 33.333333333333333%;
  padding-top: 9.5%;
  padding-bottom: 9.5%;
  border-radius: 0%;
  font-size: 200%;
  color:white;
  border: none;
  outline: none;
  /*background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/2019-08-17_21_44_43_%22Tour_of_Italy%22_%28Lasagna_Classico%2C_Fettuccine_Alfredo%2C_and_Eggplant_Parmigiana_%28substituted_for_the_usual_Chicken_Parmigiana%29%29_at_the_Olive_Garden_in_Fair_Lakes%2C_Fairfax_County%2C_Virginia.jpg/640px-thumbnail.jpg);*/
  background-image: url("images/AustraliaCus.jpg");
}